:root {
    --tealColor: rgb(70, 187, 187);
    --tealHover: rgb(130, 212, 212);
    --grayColor: rgb(77,77,77); 
  }

.resume {
    height: 80%;
    width: 80%;
    margin: 0 auto;
}

.resHead {
    display: flex;
    margin-top: 20px;
    background-color: var(--grayColor);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom: 2px solid black;
}

.statementContainer > a {
    font-family: 'Staatliches', cursive;
    letter-spacing: 7px;
    font-size: 55px;
    margin: 0px;
    color: var(--tealColor);
    transition: 0.3s;
}

.statementContainer > a:hover {
    color: var(--tealHover);
}

.pic {
    background-image: url("../galsses.jpg");
    background-size: cover;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    width: 150px;
    height: 200px;
}

.statementContainer {
    width: 800px;
    height: auto;
    margin-left: 10px;
}

.statement > p {
    margin: 0px;
    font-size: 17px;
    line-height: 23px;
    text-align: justify;
}

.technologies {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.icon {
    background-size: cover;
    height: 50px;
    width: 50px;
    margin: 0 10px;
}

.projectCont {
    margin: 50px auto;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.project {
   background-color: var(--grayColor);
   border-bottom: 2px solid black;
   height: 200px;
   width: 20%;
}

.projHead {
    font-family: 'Staatliches', cursive;
    letter-spacing: 7px;
    color: var(--tealColor);
    margin: 0 auto;
    padding: 7px;
    text-align: center;
    /* background-color: rgb(29, 29, 29); */
}

.project > p {
    margin-left: 7px;
    margin-top: 7px;
}