:root {
    --tealColor: rgb(70, 187, 187);
    --tealHover: rgb(130, 212, 212);
    --grayColor: rgb(77,77,77); 
  }

.resume {
    height: 80%;
    width: 80%;
    margin: 0 auto;
}

.resHead {
    display: flex;
    margin-top: 20px;
    background-color: var(--grayColor);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.statementContainer > a {
    font-family: 'Staatliches', cursive;
    letter-spacing: 7px;
    font-size: 55px;
    margin: 0px;
    color: var(--tealColor);
    transition: 0.3s;
}

.statementContainer > a:hover {
    color: var(--tealHover);
}

.pic {
    background-image: url("../galsses.jpg");
    background-size: cover;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    width: 150px;
    height: 200px;
}

.statementContainer {
    width: 800px;
    height: auto;
    margin-left: 10px;
}

.statement > p {
    margin: 0px;
    font-size: 17px;
    line-height: 23px;
}

.technologies {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.icon {
    background-image: url("../react.svg");
    background-size: cover;
    height: 50px;
    width: 50px;
    margin: 0 10px;
}

.icon1 {
    background-image: url("../react.svg");
}

.icon2 {
    background-image: url("../java-script.svg");
}

.icon3 {
    background-image: url("../html5.svg");
}

.icon4 {
    background-image: url("../css3.svg");
}

.icon5 {
    background-image: url("../github.svg");
}