.box {
  height: 150px;
  width: 400px;
  background-color: rgb(62, 117, 117);
  border-radius: 10px;
}

.boxes {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.subBox {
  height: 100px;
  width: 100px;
  background-color: purple;
  margin: 30px;
  border-radius: 10px;
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blogHead {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 10px;
  color: rgb(37, 37, 37);
}

a {
  color: rgb(179, 179, 179);
  text-decoration: none;
}

a:hover {
  color: rgb(213, 213, 213);
}